@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --purple:#7E22CE;
  --purple-500: #a274ca;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product-cards{
 box-shadow: 0 0 10px var(--purple);
  width: 12rem;
  height : 13rem;
  transition-duration: 200ms;
  
  
}
.product-cards:hover{
  
  transform: translate(-5px ,-5px);
  border:#9027eb solid 1px;
  
  
}

@media only screen and (max-width: 600px) {
  .product-cards{
    width: 10rem;
    height : 10rem;
    
    
  }
}